@media (max-width: 576px) { 

		body {
			background-color: #F8F8F8;
		}

		.navbar {
			background-color: white;
			width: cover;
			height: 60px;
		}

		#stories {
			margin-left: 80px;
			margin-top: 5px;
			font-family: 'Jost', sans-serif;
			font-size: 24px;
		}

		#search {
			margin-left: 30px;
			margin-top: 13px;
			width: 20px;
			height: 20px;
		}

		#sendiri {
			margin-top: 30px;
			margin-left: 12%;
			width: 300px;
			height: 160px;
			border-radius: 5px 5px 5px 5px;
		}

		.judul {
			margin-top: 10PX;
			margin-left: 45px;
			font-family: 'Ubuntu', sans-serif;
			font-size: 15px;
		}

		.isi {
			margin-left: 30px;
			margin-top: -10px;
			font-size: 15px;
			font-family: 'Montserrat', sans-serif;
		}

		.pemisah {
			width: 300px;
			height: 5px;
		}

		#img-2 {
			margin-left: 30px;
			width: 140px;
			height: 160px;
			border-radius: 5px 5px 5px 5px;
		}

		#img-3 {
		
			width: 140px;
			height: 160px;
			border-radius: 5px 5px 5px 5px;
		}

}